<div class="component__inner quicknav__inner">

  {{> component}}

  <div class="component__widget quicknav__widget">

    <div class="quicknav__tooltip-container"></div>

    <div class="quicknav__btn-container">
      {{#each _items}}
      {{> quicknav-item this}}
      {{/each}}
    </div>

  </div>

</div>
